mixin marks()
    - var img1 = require("@img/m1.png");
    - var img2 = require("@img/m2.png");
    - var img3 = require("@img/m3.png");
    - var img4 = require("@img/m4.png");
    - var img5 = require("@img/m5.png");
    - var img6 = require("@img/m6.png");
    - var img7 = require("@img/m7.png");
    - var img8 = require("@img/m8.png");
    - var img9 = require("@img/m9.png");
    - var img11 = require("@img/m11.png");
    - var img12 = require("@img/m12.png");
    - var img13 = require("@img/m13.png");
    - var img14 = require("@img/m14.png");
    - var img15 = require("@img/m15.png");
    - var img16 = require("@img/m16.png");
    - var img17 = require("@img/m17.png");
    - var img18 = require("@img/m18.png");
    - var img19 = require("@img/m19.png");
    - var img20 = require("@img/m20.png");
    .marks
        .container
            h5.marks__title Чиним все основные марки бытовой техники
            p.marks__description Если вашей стиралки нету в списке, то мы всё равно ее починим
            .marks__list
                .marks__col
                    +mark(img1, "AEG")
                .marks__col
                    +mark(img2, "Ardo")
                .marks__col
                    +mark(img3, "Ariston")
                .marks__col
                    +mark(img4, "Miele")
                .marks__col
                    +mark(img5, "Neff")
                .marks__col
                    +mark(img6, "Sumsung")
                .marks__col
                    +mark(img7, "Siemens")
                .marks__col
                    +mark(img8, "Smeg")
                .marks__col
                    +mark(img9, "Whirlpool")
                .marks__col
                    +mark(img11, "Candy")
                .marks__col
                    +mark(img12, "Electrolux")
                .marks__col
                    +mark(img13, "Gorenje")
                .marks__col
                    +mark(img14, "Hansa")
                .marks__col
                    +mark(img15, "Indesit")
                .marks__col
                    +mark(img16, "Kaiser")
                .marks__col
                    +mark(img17, "LG")
                .marks__col
                    +mark(img18, "Zanussi")
                .marks__col
                    +mark(img19, "Asko")
                .marks__col
                    +mark(img20, "Bosch")

mixin mark(img, title)
    .mark
        img.mark__img(src=img)
        h6.mark__title=title
