mixin repair()
    - var img = require("@img/repair.jpg");
    .repair
        .container
            .repair__wrapper
                .repair__text
                    h4.repair__title Недорогой и качественный ремонт стиральных машин
                    p.repair__description 
                        | Без лишних слов и пустой траты времени принимаемся за работу. 
                        | Для точной установки причины поломки выполняем диагностику. 
                        | Эта информация позволит не только успешно решить текущую проблему, но и предотвратить ее повторное проявление в будущем. 
                        | Взаимодействуем со всеми брендами агрегатов: Indesit (Индезит), Samsung (Самсунг), Bosh (Бош), LG (ЛДжи), Atlant (Атлант), иными марками. 
                        | Вот лишь некоторые из видов ремонта стиральных машин с выездом на дом:
                    ul.repair__list
                        li.repair__item повреждение нагревательного элемента (не греет воду)
                        li.repair__item не функционирует сливной насос (не сливает или не набирает воду)
                        li.repair__item поломка электродвигателя (не отжимает постиранное белье)
                        li.repair__item выход из строя электронного модуля (не вращает барабан)
                        li.repair__item засоренность дозатора (подтекает вода)
                .repair__image-wrapper
                    img.repair__image(src=img)
