@import "./../../common/constants";

.destruction {

    padding: 1rem 0 2rem;

    @include sm{
        padding: 1rem 0 4rem;
    }

    @include lg{
        padding: 1rem 0 6rem;
    }

    &__title {
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 0.5rem;

        @include sm {
            font-size: 22px;
        }

        @include lg {
            font-size: 24px;
        }
    }

    &__description {
        text-align: center;
        font-size: 14px;
        line-height: 1.7;
        font-weight: 300;
        color: $GRAY2;
        margin-bottom: 1rem;

        @include sm {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 2rem;
        }

        @include lg{
            margin-bottom: 2rem;
        }
    }

    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        max-width: initial;
        margin: {
            left:-1rem;
            right:-1rem;
        };

        @include sm {
            max-width: 100%;
            margin: 0;
            justify-content: center;
        }
    }

    &__image-wrapper{
        padding: 0 1rem;
        max-width: 100%;
        flex: 1 0 100%;
        margin-top: 1.5rem;
        order: 1;

        @include sm {
            max-width: 300px;
            flex: 1 0 300px;
            margin-top: 0;
            order: initial;
        }

        @include md {
            max-width: 400px;
            flex: 1 0 400px;
        }

        @include lg{
            margin-right: 2rem;
        }

        
    }

    &__image{
        border: 6px solid $PRIMARY1;
        width: 100%;
        height: auto;
    }

    &__list{
        padding: 0 1rem;
        max-width: 100%;
        flex: 1 0 100%;

        @include sm {
            max-width: initial;
            flex: initial;
            margin-top: 0;
            order: initial;
        }

        @include lg {
            column-count: 2;
            column-gap: 2rem;
            max-width: calc(100% - 432px);
            flex: 1 0 calc(100% - 432px);
        }
    }
    
    &__item{
        font-size: 14px;
        line-height: 1.5;
        font-weight: 300;
        color: $GRAY2;
        display: flex;

        @include sm {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 0.25rem;
        }

        @include lg {
            line-height: 2;
        }

        &:before{
            content: '';
            flex-shrink: 0;
            margin-right: 0.5rem;
            margin-top: 0.25rem;
            display: inline-block;
            width: 1rem;
            background: url(./../../images/like.svg) no-repeat;
        }

    }

    &__button-wrapper{
        margin: 1.5rem auto 0;
        order: 2;

        @include lg {
            margin-top:2rem
        }
    }
}