
include ./mastak-lib/mixins
include ./components/header/header
include ./components/footer/footer
include ./components/contacts/contacts
include ./components/freeConsultation/freeConsultation
include ./components/modal/modal
include ./components/callMeForm/callMeForm
include ./components/mainSlider/mainSlider
include ./components/repair/repair
