//COLOR:
$BLACK: #000000;
$WHITE: #FFFFFF;
$GRAY1: #f0eef1;
$GRAY2: #626262;
$GRAY3: #999999;
$GRAY4: #c1c1c1;
$PRIMARY1: #ffc32f;
$PRIMARY2: #00a0d1;
$PRIMARY3: #4b00c8;
$PRIMARY4: #ce0000;
$PRIMARY5: #24710f;


//MIXINS
@import "./../mastak-lib/mixins";