mixin textContent(title, img, imageLeft)
    .text-content
        .container
            .text-content__wrapper
                div(class=`text-content__image-wrapper ${imageLeft ? 'text-content__image-wrapper_left' : ''}`)
                    img.text-content__image(src=img)
                .text-content__text
                    .text-content__title= title
                    - if (imageLeft)
                        .text-content__description.editor-content
                            p К счастью, уже нет необходимости везти технику в мастерскую, чтобы ее починить. Практически любая работа в данной сфере услуг может быть выполнена даже в день обращения, при условии, что владелец максимально точно описал характер проблемы мастеру, а в сервисном центре имеются запчасти для этой конкретной модели.
                            p Но не только возможность исправить машинку в домашних условиях привлекает людей – установка тоже требует внимательного отношения и соответствующих навыков. Опыт работы «SM24» показывает, что именно неправильное подключение приводит к скорому износу и в результате требуется как ремонт самой стиральной машины, так и починка проводки, настройка водопровода и слива.
                            p Что касается цены на услугу в Минске, то она может отличаться не только в связи со сложностью ремонтных работ, но и из-за стоимости комплектующих, которые часто закупаются мастерами у перекупщиков, а потому имеют двойную наценку.
                    - else 
                        .text-content__description.editor-content
                            p Любая техника имеет свой срок службы и каждый агрегат рано или поздно выходит из строя. Именно поэтому одной из самых распространенных услуг является ремонт стиральных машин в Минске.
                            p Вряд ли сейчас можно найти семью без столь нужного агрегата, различие может быть только в объемах и частоте стирок, причем чем чаще эксплуатируется агрегат, тем скорее приходят в негодность детали и чаще требуется обслуживать вашу технику. Зачастую, цены на ремонт стиралок в Минске не очень отличаются от области, но могут разниться исходя из причины поломки, сложности починки, стоимости замененных деталей и комплектующих. Услуга может стоить дешевле или дороже в зависимости от того, где именно мастера берут запчасти, какая наценка и пр.
                            p В «SM24» обслуживание вашей техники с заменых деталей обходится дешевле за счет прямых закупок, комплектующих по заводской цене от большинства производителей.
