include ./../mixins
doctype html
html
    +head()
    body(class="body_overflow_hidden")
        script
            include ./../utils/_landing_ajax.js
        +header()
        main.home
            +repair()
        +footer()
        +modal()
            