@import "./../../common/constants";

.free-consultation {
    display: inline-block;
    background-color: $PRIMARY1;
    padding: .75rem 1rem;
    text-transform: uppercase;
    color: $BLACK;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color .4s;

    @include sm {
        font-size: 14px;
    }

    &:hover{
        background-color: $PRIMARY2;
    }
}